
body {
    font-family: Arial, sans-serif;
    /*background-color: #f2f2f2;*/
    background-image: url();

  } 

  .container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    background-image: url(/imgdashbord/registore\ signin.jpg));
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .back{
  width: max-content;
  margin-left: 44%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }

